body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(36, 255, 225);
  background: linear-gradient(
    90deg,
    rgba(36, 255, 225, 1) 0%,
    rgba(113, 160, 228, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
